*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.slick-slide{
    outline: none;
}
a{
    &:hover{
        text-decoration: none;
    }
}
.slick-next::before{
    content: '';
    display: block;
    background-image: url('/img/next.png');
    background: {
        size: 100%;
        repeat: no-repeat;
        position:center;
    }
    width: 70px;
    height: 100px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    opacity: 0.5;
}
.slick-prev::before{
    @extend .slick-next;
    background-image: url('/img/prev.png');
    left: 0;
}